.cart__container{
    display:grid;
    grid-template-columns: 75% 25%;
}
.cart__main {
    padding: 2rem;
    background-color: white;
    margin:1rem 0 1rem 1rem;
}

.cart__main>hr {
    margin:1rem;
    background: gray;
    height: 2px;
    margin: 0.5rem 0;
    opacity: 0.5;
}

.cart__main>h1 {
    margin-top:2rem;
    font-weight: 400;
    font-size: 39px;
    line-height: 52px;
}
.cart__main>img{
    width:100%;
    height: -webkit-fill-available;
}

.cart__Link{
    cursor: pointer;
    color: #007185;
}
.cart__Link:hover{
    color: #019f4b;
    text-decoration: underline;
    cursor: pointer;
}

.card__aside {
    background-color: white;
    text-align: center;
    margin:1em;
    padding: 1rem;
    height:fit-content;
}
.cart__buyBtn{
    padding:0.5rem;
    margin:1rem;
    /* border:1px solid black; */
    background-color: gold;
    border-radius:0.4rem;
    cursor: pointer;
}
.cart__total{
    font-weight: 600;
}
.cart__total>h1{
    display: inline-block;
}
.cart__buyBtn:hover{
    background-color: goldenrod;
}



.cart__subtotal{
    text-align: right;
}

/* ====================Medium Devices======================= */
@media only screen and (max-width:1024px){
    .cart__container{
        grid-template-columns: 60% 40%;
    }
}
/* =====================Small Devices======================= */
@media only screen and (max-width:600px){
    .cart__container{
        grid-template-columns: 1fr;
    }
    .cart__main{
        width:90vw;
    }
    .cart__productCost{
        font-size:medium;
    }
}